NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi...

# Zone scolaire (A, B ou C) utilisée pour calculer automatiquement les
# dates de vacances : https://www.education.gouv.fr/calendrier-scolaire
NEXT_PUBLIC_ZONE_SCOLAIRE=A
